In [2]:
import numpy as np
import pandas as pd
from numpy.linalg import inv

### Question 1

In [3]:
np.__version__

'1.21.5'

### Getting the data

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-11 10:27:17--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)… 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 1475504 (1,4M) [text/plain]
Сохранение в: ‘data.csv’

data.csv            100%[===================>]   1,41M  1,97MB/s    за 0,7s

2022-09-11 10:27:22 (1,97 MB/s) - ‘data.csv’ сохранён [1475504/1475504]

### Question 2

In [4]:
df = pd.read_csv('./data.csv')

df.shape[0]

11914

### Question 3

In [46]:
df.groupby('Make').count().sort_values('Model',ascending = False).head(3)

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Chevrolet,1123,1123,1123,1117,1121,1123,1123,1123,622,1123,1123,1123,1123,1123,1123
Ford,881,881,881,868,881,881,881,881,499,881,881,881,881,881,881
Volkswagen,809,809,809,809,805,809,809,809,585,809,809,809,809,809,809

### Question 4

In [30]:
audi_filt = df[df['Make'] == 'Audi']
len(audi_filt['Model'].unique())

34

### Question 5

In [35]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6

In [43]:
median_before = df['Engine Cylinders'].median()
mode = df['Engine Cylinders'].mode()
median_after = df['Engine Cylinders'].fillna(mode).median()

median_after - median_before

0.0

### Question 7

In [25]:
lotus_df = df[df['Make'] == 'Lotus'][['Engine HP','Engine Cylinders']]
lotus_df.drop_duplicates(inplace=True)

x = lotus_df.values
XTX = x.T.dot(x)
XTX_inv = inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = (XTX_inv.dot(x.T)).dot(y)

print(w)

[  4.59494481 -63.56432501]